<div class="footer clearfix">
    {{#if footer.modules}}
        <div class="row">
            {{#each footer.modules}}
                {{#if this.title}}
                    <div class="row">
                        {{this.title}}
                    </div>
                {{/if}}
                {{#if this.content}}
                    <div cass="row">
                        {{{this.content}}}
                    </div>
                {{/if}}
            {{/each}}

        </div>
    {{/if}}
    {{#if footer.copyright}}
        <div class="row">
            <div class="col-md-12 copyright vibrant">{{{footer.copyright}}}</div>
        </div>
    {{/if}}
</div>
