html {
    font-size: 1em;
}

html, body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:#222;
    overflow:visible;
    color: #aaa;
    overflow-x: hidden;
}

a{
    text-decoration:none;
    color:#2A5DB0;
}

.fixed{
    position:fixed;
    padding:10px;
    z-index:9999;
    background:#222;
    top:2%;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #fefefe;
    opacity: 0.9;
}

.fixed .buttons{
    clear:both;
}

#controls{
    transition:all, 0.5s ease-out;
    -webkit-transition:all, 0.5s ease-out;
}

.sub-heading{
    top: -15px;
    position: relative;
}

.filter .btn{
    margin-top:-5px;
    float:left;
}

#load-more{
    margin-top:20px;
    display:inline-block;
    text-align: center;
}

#collage {
    line-height: 0;
    -webkit-column-count: 12;
    -webkit-column-gap:   0;
    -moz-column-count:    12;
    -moz-column-gap:      0;
    column-count:         12;
    column-gap:           0;
    overflow:visible;
    margin-left:-30px;
    margin-top:20px;
    min-height:100px;
    transition:all, 0.5s ease-out;
    -webkit-transition:all, 0.5s ease-out;
}

img{
    vertical-align: baseline !important;
    margin:0 !important;
    padding:0 !important;
}

.margin-top{
    margin-top:180px;
}

.filters{
    margin-right:10px;
}

.filter .btn{
    margin-right:10px;
}

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
    margin-bottom:0 !important;
    background:transparent !important;
}

.mix {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

#collage img {
    max-width:100px;
    border:0 solid transparent;
    background: transparent;
    z-index:99;
}

#collage img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* ==========================================================================
   Button styles
   ========================================================================== */

.btn {
    transition:all 0.2s
}

/* ==========================================================================
   Media Queries styles
   ========================================================================== */

@media (max-width: 1300px) {
    #collage {
        -moz-column-count:    12;
        -webkit-column-count: 12;
        column-count:         12;
    }
}

@media (max-width: 1000px) {
    #collage {
        -moz-column-count:    9;
        -webkit-column-count: 9;
        column-count:         9;
    }
}

@media (max-width: 900px) {
    #collage {
        -moz-column-count:    7;
        -webkit-column-count: 7;
        column-count:         7;
    }
}

@media (max-width: 700px) {
    #collage {
        -moz-column-count:    6;
        -webkit-column-count: 6;
        column-count:         6;
    }
}

@media (max-width: 650px) {
    #collage {
        -moz-column-count:    5;
        -webkit-column-count: 5;
        column-count:         5;
        margin-left:-20px;
    }
    .buttons{
        clear:both;
    }
}

@media (max-width: 500px) {
    #collage {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}

@media (max-width: 400px) {
    #collage {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    .buttons .btn{
        font-size:0.7em;
    }
}

/* ==========================================================================
    "Badge style checkboxes (no js)"
    Bootstrap 3.0.0 Snippet by deap82
   ========================================================================== */

.badge-checkboxes{
    margin-top:15px;
}

.badge-checkboxes .checkbox:first-of-type{
    margin-top:-5px;
}

.checkbox{
    float:left;
    margin-right:10px;
}

.badge-checkboxes .checkbox input[type="checkbox"],
.badge-checkboxes label.checkbox-inline input[type="checkbox"] {
    /*  Hide the checkbox, but keeps tabbing to it possible. */
    position: absolute;
    clip: rect(0 0 0 0);
}

.badge-checkboxes .checkbox label,
.badge-checkboxes label.checkbox-inline {
    padding-left:0; /* Remove space normally used for the checkbox */
}

.badge-checkboxes .checkbox input[type="checkbox"]:checked:focus + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked:focus + .badge {
    box-shadow:0 0 2pt 1pt #333;  /* Outline when checkbox is focused/tabbed to */
}

.badge-checkboxes .checkbox input[type="checkbox"]:focus + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:focus + .badge {
    box-shadow:0 0 2pt 1pt #999;  /* Outline when checkbox is focused/tabbed to */
}

.badge-checkboxes .checkbox input[type="checkbox"] + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"] + .badge {
    border:1px solid #999; /* Add outline to badge */

    /* Make text in badge not selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Give badges for disabled checkboxes an opacity of 50% */
.badge-checkboxes .checkbox input[type="checkbox"]:disabled + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:disabled + .badge
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* Remove badge background-color and set text color for not checked options */
.badge-checkboxes .checkbox input[type="checkbox"]:not(:checked) + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:not(:checked) + .badge{
    background-color:Transparent;
    color:#999;
}

/*The following css only required for Bootstrap <= 3.1.0 */
.badge-checkboxes .checkbox {
    padding-left:0; /* Remove space normally used for the checkbox */
}
.badge-checkboxes .disabled label,
.badge-checkboxes label.checkbox-inline.disabled {
    cursor:not-allowed
}


